
/* Blog */

.thumb {
    width: 100%;
    height: 356px;
    overflow: hidden;
    position: relative;
}
.thumb__img{
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    width: 100vw;
}
.thumb__info {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    width: 503px;
    border-radius: 40px 40px 0 0 ;
    padding: 41px;
    text-align: center;
}
.thumb__info .h2-text {
    margin-top: 0;
}

.breadcrumbs {
    display: flex;
}
.breadcrumbs__item {
    padding: 5px;
}
.breadcrumbs__item:after {
    content: "  /";
}
.breadcrumbs__item:last-child:after {
    content: "";
}
.breadcrumbs__link, .breadcrumbs__item{
    color: var(--ash);
}
.breadcrumbs__link:hover {
    color: var(--gold);
}

.main-article{
    margin: 200px 0 150px;
}
.main-article .h2-text {
    margin-bottom: 27px;
}
.article-main__item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 65px;
    border: 1px solid #E7E7E7;
    border-radius: 22px;
    padding: 22px;
    cursor: pointer;
}
.article-main__item:hover {
    background: var(--ivory);
}
.article-main__thumb {
    height: 479px;
    overflow: hidden;
    position: relative;
    border-radius: 22px;
}
.article-main__img{
    object-fit: cover;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    width: 100%;
    height: 100%;
}
.article-main__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    color: var(--gray);
}
.article-main__title{
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    color: var(--ash);
}
.sub-articles {
    margin-bottom: 142px;
}
.sub-articles .h2-text {
    margin-bottom: 30px;
}
.pagination {
    color: var(--ash);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}
.pagination__item{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid var(--gold);
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.pagination__item:hover {
    border: 1px solid var(--gold);
    background: var(--gold);
}
.pagination__item.active{
    border: 1px solid var(--ivory);
    background: var(--ivory);
    cursor: auto;
}
.pagination .right-arrow-triangle-btn,
.pagination .left-arrow-triangle-btn {
    cursor: pointer;
    margin: 0 10px;
}
.pagination .right-arrow-triangle-btn:hover,
.pagination .left-arrow-triangle-btn:hover {
    border: 1px solid var(--gold);
    background: var(--gold);
}
.pagination .right-arrow-triangle-btn:hover:after,
.pagination .left-arrow-triangle-btn:hover:after {
    border-color: var(--white);
}

.sub-articles .articles {
    margin-bottom: 50px;
}
.hidden {
    display: none;
}
@media(max-width: 860px) {
    .thumb__info{
        opacity: 0.9;
        width: calc(80% - 40px);
    }
    .main-article{
        margin: 50px 0 50px;
    }
    .article-main__item{
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }
    .article-main__thumb {
        height: 300px;
    }
}