.content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 52px;
}
.widget__title{
    font-size: 25px;
    font-family: 'DM Serif Display', serif;
    color: var(--ash);
    margin-bottom: 25px;
}
.widget {
    margin: 50px 0;
}
.search-area{
    border-radius: 20px;
    background: var(--ivory);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px;
    position: relative;
}
.search-area__input {
    background: var(--ivory);
    color: var(--ash);
    font-size: 22px;
    font-family: 'Jost', sans-serif;
}
.search-area:focus,
.search-area:hover {
    background: var(--white);
    border:1px solid var(--gold);
}
.search-area:focus .search-area__input,
.search-area:hover .search-area__input,
.search-area:hover .search-area__btn{
    background: var(--white);
}
.search-area__btn{
    position: absolute;
    right: 34px;
    top: 34px;
}
::-webkit-input-placeholder {
    color:var(--gold);
}:-moz-placeholder  {
    color:var(--gold);
}
::-moz-placeholder  {
    color:var(--gold);
}
:-ms-input-placeholder  {
    color:var(--gold);
}

.posts-recent {
    display: flex;
    flex-direction: column;
}
.post-recent {
    border-bottom: 1px solid var(--gold);
    margin-bottom: 34px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.post-recent:hover .post-recent__title {
    color: var(--gold);
}
.post-recent__title {
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
    max-width: 200px;
    align-self: flex-start;
}
.post-resent__date {
    align-self: flex-end;
    margin-bottom: 6px;
}
.widget-categories {
    padding: 27px 34px;
    background: var(--ivory);
    border-radius: 20px;
}
.categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size:22px;
}
.categories__item {
    border-bottom: 1px solid var(--gold);
    padding: 20px 0;
}
.categories__item:first-child {
    padding-top: 0;
}
.categories__item:last-child {
    border: none;
}
.categories__item a {
    color: var(--ash);
}
.categories__item:hover a{
    color: var(--gold);
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
.tags__item{
    padding: 9px 30px;
    color: var(--ash);
    display: block;
    background: var(--ivory);
    border-radius: 10px;
}
.tags__item:hover {
    background: var(--ash);
    color: var(--white);
}
.widget-tags{
    padding-bottom: 50px;
    border-bottom: 1px solid #E5E5E5;
}
.author__head {
    display: flex;
    align-items: center;
    gap:32px;
    margin-bottom: 50px;
}
.author__thumb {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.author__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.author__name {
    font-size: 30px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}
.author{
    margin: 50px 0;
}
.post {
    margin-bottom: 114px;
}
.post__title{
    font-size: 50px;
    margin-bottom: 20px;
}
.post__date {
    font-size: 16px;
}

.post__thumb{
    object-fit: contain;
    overflow: hidden;
    border-radius: 45px;
    height: 539px;
    margin-bottom: 45px;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
    font-family: 'DM Serif Display', serif;
}
.post h1 {font-size: 50px;}
.post h2 {font-size: 45px;}
.post h3 {font-size: 40px;}
.post h4 {font-size: 35px;}
.post h5 {font-size: 30px;}
.post h6 {font-size: 25px;}

.post ol{
    counter-reset: myCounter;
    padding-left: 20px;
    text-transform: capitalize;
}

.post li{
    list-style: none;
    margin: 0 0 32px 0;
    position: relative;
    text-transform: capitalize;
}

.post ol li:before {
    position: absolute;
    top: 0;
    left: -25px;
    counter-increment: myCounter;
    content: counter(myCounter);
    color: var(--gold);
    display: inline-block;
    text-align: center;
    padding: 0 8px;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
}

.post blockquote {
    background: var(--ivory);
    border-radius: 45px;
    padding: 144px 0 53px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: var(--gold);
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    margin: 35px 0;
    position:relative;
}
.post blockquote:after {
    content: "";
    width: 100px;
    height: 60px;
    background-image: url("../img/quotes-gold.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%);
}
.post hr {
    border: 1px solid var(--gold);
}
.post p {
    margin-bottom: 30px;
}
.post a {
    color: var(--gold);
}
.post a:hover {
    text-decoration: underline;
}
.post figure{
    object-fit: fill;
    overflow: hidden;
    border-radius: 45px;
    height: 365px;
    margin-bottom: 35px;
    width: 100%;
}

.post .tags-networks-block {
    display: flex;
    justify-content: space-between;
    padding: 44px 0;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    margin: 63px 0 93px;
    align-items: center;
}
.post .tags ul {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
}
.post .tags h6 {
    margin: 0 20px 0 0;
}
.post .tags ul li {
    margin: 0;
    cursor: pointer;
}
.networks {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
.fb {
    background-image: url('../img/fb.png');
}
.tw {
    background-image: url('../img/tw.png');
}
.ld {
    background-image: url('../img/ld.png');
}
.in {
    background-image: url('../img/in.png');
}
.networks__item {
    width: 22px;
    height: 22px;
    padding: 22px;
    border-radius:22px;
    background-repeat: no-repeat;
    background-position: center;
}
.networks__item:hover {
    background-color: var(--ivory);
}
.post .reply__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;

}
.post input,.reply__input,
.post textarea, .reply__textarea {
    border-bottom: 1px solid var(--ash);
    padding:13px 0;
    font-size: 22px;
}
.post input[type='checkbox'] {
    border: 1px solid var(--gold);
    width: 17px;
    height: 17px;
    padding: 0;
}
.post label, .reply__label {
    color: var(--gold);
    font-size: 18px;
}
.checkbox-group {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    gap:10px;
}
.post textarea, .reply__textarea {
    grid-column: 1 / 3;
}