@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --ash: #292F36;
    --gold: #CDA274;
    --ivory: #F4F0EC;
    --gray: #4D5053;
    --white: #ffffff;
    --black: #000000;
}
*,
 *::before,
 *::after {
     box-sizing: border-box;
 }
body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
      margin: 0;
}
body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../img/line.svg");
    background-repeat-x: none;
    background-position: center;
    font-size: 22px;
}

textarea,
input {
    outline: none;
    -webkit-appearance: none;
    border: none;
}

button {
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: none;
}
ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
a {
    text-decoration: none;
}


.h2-text{
    font-size: 50px;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 0;
    color: var(--ash);
}

.primary-btn {
    padding: 26px 78px 26px 54px;
    background: var(--ash);
    color: var(--white);
    border-radius:18px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    position: relative;
}
.primary-btn:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    right: 54px;
    background-image: url('../img/vector.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
}
.primary-btn:hover{
    color: var(--gold);
}

.primary-btn:hover:after{
    animation: scaleArrow 0.5s infinite linear;
}
.quotes-icon {
    background-image: url("../img/quotes.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
}
@keyframes scaleArrow {
    0% {
    transform: scale(1) translateY(-50%);
}
    50% {
        transform: scale(1.5) translateY(-50%);
    }
    100% {
        transform: scale(1) translateY(-50%);
    }
}
@keyframes shakeArrow {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.phone-btn, .email-btn, .web-btn {
    display: block;
    width: 93px;
    height: 93px;
    border-radius: 50%;
    background: var(--ivory);
    background-image: url("../img/tel.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.email-btn {
    background-image: url("../img/mail.svg");
}
.web-btn {
    background-image: url("../img/earth.svg");
}
.phone-btn:hover, .email-btn:hover, .web-btn:hover {
    animation: shakeArrow 0.5s infinite linear;
}

.right-arrow {
    width: 20px;
    height: 20px;
    background-image: url("../img/Vector.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 45px;
}

.header__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

.header__item {
    margin-left: 48px;
}

.header__item:last-child {
    margin-left: 30px;
}

.header__link {
    color: var(--ash);
    font-size: 20px;
    text-decoration: none;
}

.header__search {
    padding: 0;
    background: none;
    display: flex;
    border: 0;
}

.header__search:hover {
    cursor: pointer;
}

.footer {
    padding-top: 88px;
    padding-bottom: 88px;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-size: 22px;
    color: var(--gray);
}

.footer__link, footer__item {
    text-decoration: none;
    padding-left: 90px;
    color: var(--gray);
    transition: color 0.3s ease-in-out;
}

.footer__link:hover,
.header__link:hover,
.logo__name:hover {
    color: var(--gold);
}
.logo {
    position: relative;
    display: flex;
    align-items: center;
}
.logo__icon {
    display: block;
    background: -webkit-linear-gradient(left top, crimson 0%, #f90 100%);
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    position: relative;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.logo__icon:before {
    position: absolute;
    top: 12px;
    left: 12px;
    content: ' ';
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background: linear-gradient(135deg, rgba(0,0,0,0.1), rgba(0,0,0,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid rgba(255,255,255,0.18);
}

.logo__icon:after {
     position: absolute;
     top: 15px;
     left: 15px;
     content: ' ';
     background: #fff;
     width: 6px;
     height: 10px;
     border-radius: 10px;
 }

.logo__name{
    margin-left: 10px;
    font-size: 50px;
    font-family: 'DM Serif Display', serif;
    color: var(--ash);
    transition: all 0.3s ease-in;
}

/* Modal */

.overlay{
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: -100vh;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9998;
    transition: all 0.3s ease-in-out;
}
.overlay.open,
.modal-search.open {
    top: 0;
}
.modal-search {
    position: fixed;
    top: -100vh;
    left: 0;
    right: 0;
    background: #FFF;
    padding-top: 44px;
    padding-bottom: 43px;
    z-index: 9999;
}

.modal-search__content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.model-search__btns {
    display: flex;
    align-items: center;
}

.modal-search__input {
    width: 100%;
    border: none;
    font-size: 22px;
    color: var(--gray);
    padding-bottom: 13px;
    padding-top: 13px;
    position: relative;
    margin-right: 38px;
    border-bottom: 1px solid var(--ash);
}

.modal-search__input:hover,
.modal-search__input:focus {
    border-bottom: 2px solid var(--gold);
}

/* Arrow buttons */

.right-arrow-triangle-btn,
.left-arrow-triangle-btn {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    border: 1px solid var(--gold);
    background-color: transparent;
    position: relative;
}

.left-arrow-triangle-btn:hover:after,
.right-arrow-triangle-btn:hover:after {
    border-right: 2px solid var(--gold);
    border-bottom: 2px solid var(--gold);
}

.right-arrow-triangle-btn:after,
.left-arrow-triangle-btn:after {
    position: absolute;
    top: 18px;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--ash);
    border-bottom: 2px solid var(--ash);
    transition: all 1s;
}

.right-arrow-triangle-btn:after {
    left: 16px;
    transform: rotate(-45deg);
}

.left-arrow-triangle-btn:after {
    left: 20px;
    transform: rotate(135deg);
}

.left-arrow-triangle-btn:hover:after {
    animation: scaleLeft 0.3s infinite linear;
}

.right-arrow-triangle-btn:hover,
.left-arrow-triangle-btn:hover {
    outline:1px solid var(--gold);
    outline-offset:-2px;
}

.right-arrow-triangle-btn:hover:after {
    animation: scaleRight 0.5s infinite linear;
}

@keyframes scaleRight {
    0% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(1.5) rotate(-45deg);
    }
    100% {
        transform: scale(1) rotate(-45deg);
    }
}

@keyframes scaleLeft {
    0% {
        transform: scale(1) rotate(135deg);
    }
    50% {
        transform: scale(1.5) rotate(135deg);
    }
    100% {
        transform: scale(1) rotate(135deg);
    }
}
/*Close btn*/

.close-btn{
    display: block;
    margin-left: 42px;
    border: none;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-image: url("../img/close.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}
.close-btn:hover {
    background-color: var(--gold);
}

/* Burger */

.burger {
    display: none;
    width: 70px;
    height: 70px;
    background-image: url("../img/burger.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}

.header__nav-close {
    display: none;
}

.hero{
    position: relative;
    overflow: hidden;
    border-radius: 0 0 0 30vh;
    display: flex;
    align-items: center;
    margin-bottom: 198px;
    height: calc(100vh - 124px);
}

.hero__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.hero__title {
    max-width: 567px;
    font-size: 85px;
    font-family: 'DM Serif Display', serif;
}
.hero__text {
    max-width: 567px;
}

.about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 198px;
    gap: 75px;
}
.about__thumb {
    position: relative;
    overflow: hidden;
    flex-basis: 700px;
    height: 653px;
    border-radius: 0 326px 0px 123px;
}
.about__img {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.about__text {
    flex-grow: 1;
    flex-basis: calc(100% - 700px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.about__call {
    display: flex;
    align-items: center;
    margin-bottom: 47px;
    margin-top: 45px;
}
.phone__container {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.phone__number{
    font-weight: 700;
}
.phone__text {
    margin: 0;
}
/*@media(max-width: 1100px) {*/
/*    .hero{*/
/*        padding-top: 10vh;*/
/*        padding-bottom: 20vh;*/
/*    }*/
/*    .hero__title {*/
/*        font-size: 50px;*/
/*    }*/

/*}*/
.swiper-feedback {
    background: var(--ivory);
    border-radius: 70px;
    padding: 88px 10px 143px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-feedback .h2-text {
    margin-bottom: 90px;
}
.swiper-feedback .quotes-icon {
    margin-bottom: 27px;
}
.slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: calc(100% - 30%);
    margin: 0 auto;
}
.slide__text {
    display:block;
    text-align: center;
    padding: 0 20px;
    font-size: 30px;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    margin-bottom: 34px;
}

.slide__subtitle{
    font-size: 25px;
}
.swiper-wrapper{
    position: relative;
}
.swiper-button-next,
.swiper-button-prev{
    position: absolute;
    top: calc(50% + 100px);
    right: 94px;
    background: var(--white);
    border: none;
}
.swiper-button-prev {
    left: 94px;
}

.brands{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.brand {
    width: 130px;
    height: 102px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.brand-1{
    background-image: url("../img/brand1.svg");
}
.brand-2{
    background-image: url("../img/brand2.svg");
}
.brand-3{
    background-image: url("../img/brand3.svg");
}
.brand-4{
    background-image: url("../img/brand4.svg");
}
.brand-5{
    background-image: url("../img/brand5.svg");
}

.stats {
    padding: 150px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stats__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-basis: 25%;
    padding: 0 15px;
}
.stats__item::after {
    content: '';
    display: block;
    width: 1px;
    height: 130px;
    background-color: #CDA274;
    position: absolute;
    right: 0;
    top: calc(50% - 65px);
}
.stats__item:last-child:after {
    display: none;
}
.item__number {
    font-size: 85px;
    font-family: 'DM Serif Display', serif;
    color: var(--gold);
}
.item__text {
    text-align: center;
}
.articles-news-block{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 178px;
}

.articles-news-block__text {
    max-width: 811px;
    margin-bottom: 52px;
}
.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 27px;
}

.article {
    border: 1px solid #E7E7E7;
    border-radius: 62px;
    padding: 20px;
    background: var(--white);
    max-width: 380px;
    cursor: pointer;
}
.article:hover {
    background: var(--ivory);
}
.article:last-child {
    margin-right: 0;
}

.article__title {
    font-size: 25px;
    margin-bottom: 30px;
    font-family: 'DM Serif Display', serif;
    text-align: left;
}
.article-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.article-more__date {
    font-size: 16px;
}

.article__thumb {
    position: relative;
    overflow: hidden;
    border-radius: 45px 45px 0px 0;
    height: 290px;
    width: 100%;
}
.article__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article__sub {
    position: absolute;
    bottom: 26px;
    left: 20px;
    background: var(--white);
    padding: 4px 11px;
    font-size: 16px;
    border-radius: 8px 8px 8px 0;
}

.subscribe {
    background: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
    text-align: center;
    border-radius: 80px;
    margin-bottom: 200px;
}
.subscribe .h2-text {
    margin-bottom: 11px;
    margin-top: 0;
    color: var(--white);
}
.subscribe p {
    margin-top: 0;
    margin-bottom: 32px;
}


.subscribe-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0 10px;
}
.subscribe-box__input{
    border: none;
    border-radius: 18px 0 0 18px;
    background: var(--white);
    padding: 28px 20px;
}
.subscribe-box__btn {
    border: none;
    background: var(--gold);
    color: var(--white);
    border-radius: 0 18px 18px 0;
    padding: 28px 28px;
}
.subscribe-box__btn:hover{
    color: var(--ash);;
}
.contact{
    max-width: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    flex-direction: column;
    margin: 0 auto;
}
.contact .h2-text {
    margin-bottom: 77px;
}
.contact-form{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 57px 40px;
}
.contact-form__input {
    border: none;
    padding: 13px 0;
    border-bottom: 1px solid var(--gray);
}
.contact-form__textarea {
    grid-column: 1 / 3;
    border: none;
    border-bottom: 1px solid var(--gray);
}
.contact-form__btn {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
}
.page {
    margin-bottom: 200px;
    margin-top: 200px;
}
.tabs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tabs {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gold);
    border-radius: 18px;
    margin-bottom: 60px;
}
.tabs__link{
    padding: 26px 66px;
    cursor: pointer;
    border-radius: 18px;
    background-color: var(--white);
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}
.tabs__link:hover {
    background-color: var(--ivory);
}
.tabs__link.active {
    background-color: var(--gold);
    color: var(--white);
}
.tabs-content {
    width: 100%;
}
.tabs-content__item {
    display: none;
}
.tabs-content__box {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    animation: fade 1s;
}
.tabs-content__thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 522px;
    background-color: var(--ivory);
}
.tabs-content__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.contacts {
    text-align: center;
}
.contacts .h2-text {
    margin: 0px auto 80px;
    max-width: 680px;
}
.contacts__box{
    display: flex;
    justify-content: space-between;
    gap: 55px;
}
.contacts__info{
    background-color: var(--ivory);
    display: flex;
    flex-direction: column;
    padding: 76px 32px;
    border-radius: 50px;
    width: 350px;
    font-size: 20px;
    gap: 42px;
}
.contacts__item:hover {
    color: var(--gold);
}
.contacts .contact-form {
    width: 100%;
}
.contacts__item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    color: var(--ash);
    gap: 15px;
}
.contacts__item .phone-btn,
.contacts__item .email-btn,
.contacts__item .web-btn{
    border-radius: 50%;
    background-color: var(--white);
    width: 52px;
    height: 52px;
    background-size: 21px 21px;
}
.contacts__box .networks {
    gap: 0;
    justify-content: flex-start;
}
.contacts .contact-form__btn {
    justify-content: flex-end;
}
.contacts .networks__item:hover{
    background-color: var(--white);
}

.error {
    position: relative;
    margin: 0;
}
.error__thumb {
    position: absolute;
    top: 0;
    right: 0;
    width: 47vw;
    height: calc(100vh - 128px);
    border-radius: 0 0 0 clamp(100px, 17vw, 350px);
    overflow: hidden;
}
.error__content {
    padding-top: 200px;
    padding-bottom: 170px;
    max-width: 570px;
    text-align: start;
    font-family: 'DM Serif Display', serif;
}
.error__number {
    color: var(--gold);
    font-size: 250px;
    margin-bottom: 15px;
    line-height: 0.8;
}
.error__text {
    font-size: 35px;
    margin-bottom: 23px;
}
.error__content .primary-btn {
    display: flex;
    justify-self: flex-start;
}

/* Blog */

.thumb {
    width: 100%;
    height: 356px;
    overflow: hidden;
    position: relative;
}
.thumb__img{
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    width: 100vw;
    height: 100%;
}
.thumb__info {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    width: 503px;
    border-radius: 40px 40px 0 0 ;
    padding: 41px;
    text-align: center;
}
.thumb__info .h2-text {
    margin-top: 0;
}

.breadcrumbs {
    display: flex;
}
.breadcrumbs__item {
    padding: 5px;
}
.breadcrumbs__item:after {
    content: "  /";
}
.breadcrumbs__item:last-child:after {
    content: "";
}
.breadcrumbs__link, .breadcrumbs__item{
    color: var(--ash);
}
.breadcrumbs__link:hover {
    color: var(--gold);
}

.main-article{
    margin: 0px 0 150px;
}
.main-article .h2-text {
    margin-bottom: 27px;
}
.article-main__item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 65px;
    border: 1px solid #E7E7E7;
    border-radius: 22px;
    padding: 22px;
    cursor: pointer;
}
.article-main__item:hover {
    background: var(--ivory);
}
.article-main__thumb {
    height: 479px;
    overflow: hidden;
    position: relative;
    border-radius: 22px;
}
.article-main__img{
    object-fit: cover;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    width: 100%;
    height: 100%;
}
.article-main__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    color: var(--gray);
}
.article-main__title{
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    color: var(--ash);
}
.sub-articles .h2-text {
    margin-bottom: 30px;
}
.pagination {
    color: var(--ash);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}
.pagination__item{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid var(--gold);
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    color: var(--ash);
}
.pagination__item:hover {
    border: 1px solid var(--gold);
    background: var(--gold);
}
.pagination__item.active{
    border: 1px solid var(--ivory);
    background: var(--ivory);
    cursor: auto;
}
.pagination .right-arrow-triangle-btn,
.pagination .left-arrow-triangle-btn {
    cursor: pointer;
    margin: 0 10px;
}
.pagination .right-arrow-triangle-btn:hover,
.pagination .left-arrow-triangle-btn:hover {
    border: 1px solid var(--gold);
    background: var(--gold);
}
.pagination .right-arrow-triangle-btn:hover:after,
.pagination .left-arrow-triangle-btn:hover:after {
    border-color: var(--white);
}

.sub-articles .articles {
    margin-bottom: 50px;
}
.hidden {
    display: none;
}
.content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 52px;
}
.widget__title{
    font-size: 25px;
    font-family: 'DM Serif Display', serif;
    color: var(--ash);
    margin-bottom: 25px;
}
.widget {
    margin: 50px 0;
}
.search-area{
    border-radius: 20px;
    background: var(--ivory);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px;
    position: relative;
    border: 1px solid var(--white);
}
.search-area__input {
    background: var(--ivory);
    color: var(--ash);
    font-size: 22px;
    border: none;
    font-family: 'Jost', sans-serif;
}
.search-area__input:focus,
.search-area__input:hover {
    outline: none;
    box-shadow: none;
    border: none;
}
.search-area:focus,
.search-area:hover {
    background: var(--white);
    border:1px solid var(--gold);
}
.search-area:focus .search-area__input,
.search-area:hover .search-area__input,
.search-area:hover .search-area__btn{
    background: var(--white);
}
.search-area__btn{
    position: absolute;
    right: 34px;
    top: 34px;
}

.posts-recent {
    display: flex;
    flex-direction: column;
}
.post-recent {
    border-bottom: 1px solid var(--gold);
    margin-bottom: 34px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.post-recent:hover .post-recent__title {
    color: var(--gold);
}
.post-recent__title {
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
    max-width: 200px;
    align-self: flex-start;
}
.post-resent__date {
    align-self: flex-end;
    margin-bottom: 6px;
}
.widget-categories {
    padding: 27px 34px;
    background: var(--ivory);
    border-radius: 20px;
}
.categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size:22px;
}
.categories__item {
    border-bottom: 1px solid var(--gold);
    padding: 20px 0;
}
.categories__item:first-child {
    padding-top: 0;
}
.categories__item:last-child {
    border: none;
}
.categories__item a {
    color: var(--ash);
}
.categories__item:hover a{
    color: var(--gold);
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
.tags__item{
    padding: 9px 30px;
    color: var(--ash);
    display: block;
    background: var(--ivory);
    border-radius: 10px;
}
.tags__item:hover {
    background: var(--ash);
    color: var(--white);
}
.widget-tags{
    padding-bottom: 50px;
    border-bottom: 1px solid #E5E5E5;
}
.author__head {
    display: flex;
    align-items: center;
    gap:32px;
    margin-bottom: 50px;
}
.author__thumb {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.author__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.author__name {
    font-size: 30px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}
.author{
    margin: 50px 0;
}
.post {
    margin-bottom: 114px;
}
.post__title{
    font-size: 50px;
    margin-bottom: 20px;
}
.post__date {
    font-size: 16px;
}

.post__thumb{
    object-fit: contain;
    overflow: hidden;
    border-radius: 45px;
    height: 539px;
    margin-bottom: 45px;
    position: relative;
}
.post__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
    font-family: 'DM Serif Display', serif;
}
.post h1 {font-size: 50px;}
.post h2 {font-size: 45px;}
.post h3 {font-size: 40px;}
.post h4 {font-size: 35px;}
.post h5 {font-size: 30px;}
.post h6 {font-size: 25px;}

.post ol{
    counter-reset: myCounter;
    padding-left: 20px;
    text-transform: capitalize;
}

.post li{
    list-style: none;
    margin: 0 0 32px 0;
    position: relative;
    text-transform: capitalize;
}

.post ol li:before {
    position: absolute;
    top: 0;
    left: -25px;
    counter-increment: myCounter;
    content: counter(myCounter);
    color: var(--gold);
    display: inline-block;
    text-align: center;
    padding: 0 8px;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
}

.post blockquote {
    background: var(--ivory);
    border-radius: 45px;
    padding: 144px 0 53px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: var(--gold);
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    margin: 35px 0;
    position:relative;
}
.post blockquote:after {
    content: "";
    width: 100px;
    height: 60px;
    background-image: url("../img/quotes-gold.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%);
}
.post hr {
    border: 1px solid var(--gold);
}
.post p {
    margin-bottom: 30px;
}
.post a {
    color: var(--gold);
}
.post a:hover {
    text-decoration: underline;
}
.post figure{
    object-fit: fill;
    overflow: hidden;
    border-radius: 45px;
    height: 365px;
    margin-bottom: 35px;
    width: 100%;
}

.post .tags-networks-block {
    display: flex;
    justify-content: space-between;
    padding: 44px 0;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    margin: 63px 0 93px;
    align-items: center;
}
.post .tags ul {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
}
.post .tags h6 {
    margin: 0 20px 0 0;
}
.post .tags ul li {
    margin: 0;
    cursor: pointer;
}
.networks {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
.fb {
    background-image: url('../img/fb.png');
}
.tw {
    background-image: url('../img/tw.png');
}
.ld {
    background-image: url('../img/ld.png');
}
.in {
    background-image: url('../img/in.png');
}
.networks__item {
    width: 22px;
    height: 22px;
    padding: 22px;
    border-radius:22px;
    background-repeat: no-repeat;
    background-position: center;
}
.networks__item:hover {
    background-color: var(--ivory);
}
.post input,
.post textarea {
    border-bottom: 1px solid var(--ash);
    padding:13px 0;
}
.post input[type='checkbox'] {
    border: 1px solid var(--gold);
    width: 17px;
    height: 17px;
    padding: 0;
}
.post label {
    color: var(--gold);
    font-size: 18px;
}
.checkbox-group {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    gap:10px;
}
.post textarea, .reply__textarea {
    grid-column: 1 / 3;
}

.checkbox:checked,
.checkbox:not(:checked){
    position: absolute;
    left:-9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
    position: relative;
    padding-left: 35px;
    cursor:pointer;
}
.checkbox:checked + label::before{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:0;
    top:calc(50% - 10px);
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid #7d25a9;
}
.checkbox:checked + label::after{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    transition: all .2s ease;
    opacity: 1;
    left: 0px;
    top: calc(50% - 10px);
    background-color: var(--gold);
}
.checkbox:not(:checked) + label::before{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:0;
    top:calc(50% - 10px);
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid var(--gold);
}

.bg {
    background: var(--ivory);
}

@media (max-width: 1200px) {
    /*.container {*/
    /*    max-width: 900px;*/
    /*}*/
    .container {
        max-width: 900px;
    }
    .h2-text {
        font-size: 35px;
    }
    .page {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .error__content {
        padding-top: 100px;
        padding-bottom: 235px;
        max-width: 400px;
    }
    .error__number {
        font-size: 150px;
    }

    .footer__address,
    .footer__item {
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
    }

    .content{
        display: grid;
        grid-template-columns: 1fr;
        gap: 52px;
    }
    .post {
        margin-bottom: 0;
    }
    .article__thumb{
        height: 250px;
    }
    .tabs-content__thumb {
        height: 350px;
    }
    .article__title {
        font-size: 20px;
    }
    .stats {
        padding: 70px 0;
    }
    .about {
        margin-bottom: 80px;
    }
    .articles-news-block{
        padding-bottom: 70px;
    }
    .hero,  .subscribe {
        margin-bottom: 70px;
    }
    .about__text {
        flex-basis: calc(100% - 200px);
    }
    .article__thumb {
        margin-bottom: 10px;
    }
}
@media (max-width: 768px) {
    .h2-text {
        margin-bottom: 20px;
    }
    .hero__title {
        font-size: 13vw;
    }
    .burger {
        display: block;
    }
    .header__nav-close.open {
        cursor: pointer;
        display: block;
        height: 40px;
        width: 40px;
        z-index:10000;
        position: absolute;
        top:50px;
        right: 30px;
    }
    .header__nav {
        display: none;
    }
    .header__nav.open {
        display: block;
    }
    .header__nav.open .header__list {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        background: var(--white);
        flex-direction: column;
    }
    .header__item{
        margin: 0;
        padding: 10px;
    }
    .about {
        flex-direction: column;
    }
    .about__thumb {
        width: 100%;
        height: 50vw;
        flex-basis: auto;
        border-radius: 0 clamp(100px, 20vw, 326px) 0px clamp(50px, 7vw, 123px);
    }
    .swiper-feedback {
        padding: 50px 10px;
    }
    .swiper-feedback .h2-text,
    .contact .h2-text {
        margin-bottom: 30px;
    }
    .swiper-button-next {
        right: 30px;
    }
    .swiper-button-prev {
        left: 30px;
    }
    .articles {
        grid-template-columns: 1fr;
    }
    .contact-form__input, .contact-form__textarea {
        font-size: 22px;
    }
    .contact-form, .contacts .contact-form  {
        width: 80vw;
        align-self: center;
    }
    .article {
        max-width: 100%;
    }
    .contacts__box {
        flex-direction: column-reverse;
    }
    .contacts__info {
        width: 100%;
    }
    .header__link  {
        font-size: 25px;
    }
    .header__item {
        margin: 15px 0;
    }
    .close-btn{
        margin-left: 0;
        background-color: var(--ivory);
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: absolute;
        top: -20px;
        right:0;
    }
    .model-search__btns {
        margin-right: 70px;
    }
    .model-search__btns .close-btn {
        margin-left: 50px;
        background-color: var(--white);
        width: 45px;
        height: 45px;
        top: 47px;
        right: 20px;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
    }
    .header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media (max-width: 600px) {
    .hero {
        border-radius: 0 0 0 30vh;
    }
    .swiper-feedback .h2-text, .contact .h2-text {
        font-size: 8vw;
        text-align: center;
    }
    .slide__text {
        font-size: 6vw;
    }
    .right-arrow-triangle-btn{
        right: 5px
    }
    .left-arrow-triangle-btn{
        left: 5px;
    }
    .brands {
        flex-wrap: wrap;
        justify-content: center;
    }
    .stats{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
    .item__number {
        font-size: 10vw;
    }
    .stats__item:after {
        display: none;
    }
    .footer {
        padding: 40px 0;
    }
    .footer .container {
        gap: 10px;
        align-items: end;
        flex-direction: column-reverse;
    }
    .tabs-content__thumb {
        height: 200px;
    }
    .tabs{
        flex-direction: column;
    }
    .thumb {
        height: 200px;
    }
    .thumb__info {
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        border: 1px solid rgba(255,255,255,0.18);
        border-radius: 32px 32px 0 0;
        padding: 10px 20px;
        width: calc(100% - 50px);
    }
    .thumb__info .h2-text {
        margin-bottom: 0;
    }
}
